<ul class="nav nav-tabs">
    <li class="active">
        <a href="#basic" data-toggle="tab">Basic</a>
    </li>
    <li>
        <a href="#advanced" data-toggle="tab">Advanced</a>
    </li>
</ul>

<form id="formStoryNew" class="form-horizontal">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <input type="hidden" name="projectId" value="<%= projectId %>" />
    <input type="hidden" name="sprintId" value="<%= sprintId %>" />
    <input type="hidden" name="ignoreInBurnDownChart" value="0" />

    <div class="tab-content">
        <div class="tab-pane active" id="basic">
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formStoryNewTitle">Title</label>
                <div class="col-lg-9">
                    <input id="formStoryNewTitle" name="title" type="text" placeholder="enter story name" class="form-control" required="required" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formStoryNewEstimate">Estimate</label>
                <div class="col-lg-9">
                    <div class="col-lg-6 estimateSlider"
                         data-slider-min="0"
                         data-slider-max="11"
                         data-slider-step="1"
                         data-slider-value="-1"
                    ></div>

                    <input id="formStoryNewEstimate" name="estimate" type="hidden" value="-1" />

                    <span class="badge badge-slider sliderValue">???</span>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formStoryNewDescription">Description</label>
                <div class="col-lg-9">
                    <textarea id="formStoryNewDescription" name="description" class="form-control" required="required" data-wysiwyg="true" placeholder="enter user story description"></textarea>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="advanced">
            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryNewMilestone">Milestone</label>
                <div class="col-lg-9">
                    <select id="formStoryNewMilestone" name="milestoneId" class="form-control in-modal show-tick show-menu-arrow"
                        data-select="true"
                        data-live-search="true"
                    >
                        <option value="0" class="select-dummy-option">No specified milestone</option>
                    <% _.each(milestones, function(milestone) { %>
                        <option value="<%= milestone.id %>" <% if (formData && formData.milestoneId == milestone.id) { %>selected="selected"<% } %>><%= milestone.title %></option>
                    <% }) %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryNewType">Task type</label>
                <div class="col-lg-9">
                    <select id="formStoryNewType" name="typeId" class="form-control in-modal show-tick show-menu-arrow"
                        data-select="true"
                    >
                        <% _.each(types, function(type) { %>
                        <option value="<%= type.id %>"><%= type.title %></option>
                        <% }) %>
                    </select>
                    <p class="help-block">
                        This is the default type for new tasks to this story.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="ignoreInBurnDownChart" name="ignoreInBurnDownChart" value="1" /> Ignore in burndown chart?
                        </label>
                    </div>
                </div>

                <div class="col-lg-offset-3 col-lg-9">
                    <span class=" help-block">
                        Ignore all tasks of this story in sprint burndown chart.
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>