<ul class="nav nav-tabs">
    <li class="active">
        <a href="#basic" data-toggle="tab">Basic</a>
    </li>
    <li>
        <a href="#history" data-toggle="tab" data-href="/History?objectName=Story&objectId=<%= story.id %>">History</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <form id="formStoryEdit" class="form-horizontal">
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formStoryEditTitle">Title</label>
                <div class="col-lg-9">
                    <input id="formStoryEditTitle" name="title" type="text" value="<%= story.title %>" placeholder="enter story name" class="form-control" required="required" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formStoryEditEstimate">Estimate</label>
                <div class="col-lg-9">
                    <div class="col-lg-2">
                        <input class="form-control sliderValue" type="text" readonly="readonly" value="" />
                    </div>
                    <div class="col-lg-10 estimateSlider"></div>
                    <input id="formStoryEditEstimate" name="estimate" type="hidden" value="<%= story.estimate %>" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryNewMilestone">Milestone</label>
                <div class="col-lg-9">
                    <select id="formStoryNewMilestone" name="milestoneId" class="form-control show-tick show-menu-arrow"
                        data-select="true"
                        data-live-search="true"
                    >
                        <option value="0" class="select-dummy-option">No specified milestone</option>
                        <% _.each(milestones, function(milestone) { %>
                        <option value="<%= milestone.id %>" <%if (milestone.id === story.milestoneId) { %>selected="selected"<% } %>><%= milestone.title %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryNewType">Task type</label>
                <div class="col-lg-9">
                    <select id="formStoryNewType" name="typeId" class="form-control show-tick show-menu-arrow"
                        data-select="true"
                    >
                        <% _.each(types, function(type) { %>
                        <option value="<%= type.id %>" <%if (type.id === story.typeId) { %>selected="selected"<% } %>><%= type.title %></option>
                        <% }) %>
                    </select>
                    <p class="help-block">
                        This is the default type for new tasks to this story.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryEditDescription">Description</label>
                <div class="col-lg-9">
                    <textarea id="formStoryEditDescription" name="description" class="form-control" data-wysiwyg="true" placeholder="enter user story description"><%= story.description %></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryEditVfCase">ValueFrame case</label>
                <div class="col-lg-9">
                    <% if (story.vfCase > 0) { %>
                    <div class="input-group">
                        <input id="formStoryEditVfCase" name="vfCase" type="text" value="<%= story.vfCase %>"  placeholder="case #" class="vfCase form-control" />

                        <span class="input-group-link" style="display: inline-block;">
                            <a href="#" class="btn btn-link">Open case</a>
                        </span>
                    </div>
                    <% } else { %>
                    <div class="col-lg-3">
                        <input id="formStoryEditVfCase" name="vfCase" type="text" value=""  placeholder="case #" class="vfCase form-control" />
                    </div>
                    <% }  %>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="history">
    </div>
</div>