<form id="formStoryEdit" class="form-horizontal">
    <fieldset>
        <div class="control-group required">
            <label class="control-label" for="formStoryEditTitle">Title</label>
            <div class="controls">
                <input id="formStoryEditTitle" name="title" type="text" value="<%= story.title %>" placeholder="enter story name" class="span3" required="required" />
            </div>
        </div>
        <div class="control-group required">
            <label class="control-label" for="formStoryEditEstimate">Estimate</label>
            <div class="controls">
                <input class="sliderValue" type="text" readonly="readonly" value="<%= story.estimate %>" />
                <div class="estimateSlider"></div>
                <input id="formStoryEditEstimate" name="estimate" type="hidden" value="<%= story.estimate %>" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formStoryEditDescription">Description</label>
            <div class="controls">
                <textarea id="formStoryEditDescription" name="description" class="span3" placeholder="enter user story description"><%= story.description %></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formStoryEditVfCase">ValueFrame case</label>
            <div class="controls">
                <input id="formStoryEditVfCase" name="vfCase" type="text" value="<%= story.vfCase %>"  placeholder="case #" class="span1" />
            </div>
        </div>
    </fieldset>
</form>