<ul class="nav nav-tabs">
    <li class="active">
        <a id="basicTab" href="#basic" data-toggle="tab">Basic</a>
    </li>
    <li>
        <a id="advancedTab" href="#advanced" data-toggle="tab">Advanced</a>
    </li>
    <li>
        <a id="tasksTab" href="#tasks" data-toggle="tab" data-callback="initStoryTabTasks" data-href="/Story/Tasks?id=<%= story.id %>">Tasks</a>
    </li>

    <%- partial("../partials/common_tabs_header", {objectName: "Story", objectId: story.id}) %>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <form id="formStoryEdit_1" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formStoryEditTitle">Title</label>
                <div class="col-lg-9">
                    <input id="formStoryEditTitle" name="title" type="text" value="<%= story.title %>" placeholder="enter story name" class="form-control" required="required" />
                </div>
            </div>
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formStoryEditEstimate">Estimate</label>
                <div class="col-lg-9">
                    <div class="col-lg-6 estimateSlider"
                         data-slider-min="0"
                         data-slider-max="11"
                         data-slider-step="1"
                         data-slider-value=""
                    ></div>

                    <input id="formStoryEditEstimate" name="estimate" type="hidden" value="<%= story.estimate %>" />

                    <span class="badge badge-slider sliderValue">???</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryEditDescription">Description</label>
                <div class="col-lg-9">
                    <textarea id="formStoryEditDescription" name="description" class="form-control" data-wysiwyg="true" placeholder="enter user story description"><%= story.description %></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="advanced">
        <form id="formStoryEdit_2" class="form-horizontal">
            <input type="hidden" name="ignoreInBurnDownChart" value="0" />

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryNewMilestone">Milestone</label>
                <div class="col-lg-9">
                    <select id="formStoryNewMilestone" name="milestoneId" class="form-control in-modal show-tick show-menu-arrow"
                        data-select="true"
                        data-container="body"
                        data-live-search="true"
                    >
                        <option value="0" class="select-dummy-option">No specified milestone</option>
                        <% _.each(milestones, function(milestone) { %>
                        <option value="<%= milestone.id %>" <%if (milestone.id === story.milestoneId) { %>selected="selected"<% } %>><%= milestone.title %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="formStoryNewType">Task type</label>
                <div class="col-lg-9">
                    <select id="formStoryNewType" name="typeId" class="form-control in-modal show-tick show-menu-arrow"
                        data-select="true"
                        data-container="body"
                    >
                        <% _.each(types, function(type) { %>
                        <option value="<%= type.id %>" <%if (type.id === story.typeId) { %>selected="selected"<% } %>><%= type.title %></option>
                        <% }) %>
                    </select>
                    <p class="help-block">
                        This is the default type for new tasks to this story.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="ignoreInBurnDownChart" name="ignoreInBurnDownChart" value="1" <% if (story.ignoreInBurnDownChart) { %>checked="checked"<% } %> /> Ignore in burndown chart?
                        </label>
                    </div>
                </div>

                <div class="col-lg-offset-3 col-lg-9">
                    <span class=" help-block">
                        Ignore all tasks of this story in sprint burndown chart.
                    </span>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="tasks"></div>

    <%- partial("../partials/common_tabs_content") %>
</div>
