<div class="progressTotal">
    <h4>Current progress of story</h4>
    <div class="row">
        <div class="col-md-2 text-right text-nowrap">
            Tasks <small>(<%= cntTaskDone %> / <%= cntTaskTotal %>)</small>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= progressTask %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progressTask %>%;">
                    <% if (progressTask > 0) { %>
                    <span><%= progressTask %>% Complete</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <h4>Task durations in phases <span class="text-no-shadow text-small text-muted">Note that first and last phases are excluded out of this statistics.</span></h4>

    <div class="progress">
    <% _.each(phases, function(phase) { %>
        <% if (phase.order !== 0 && phase.durationPercentage > 0) { %>
        <div class="progress-bar tooltipDiv" style="width: <%= phase.durationPercentage %>%; background-color: <%= phase.backgroundColor %>;">
            <span><%= phase.title %> <%= numeral(phase.durationPercentage).format("0.00") %>%</span>

            <div class="tooltipDivContainer">
                <h1>Statistics of phase '<%= phase.title %>'</h1>
                <div>
                    <table>
                        <tr>
                            <th class="text-right">Percentage:</th>
                            <td class="text-nowrap"><%= numeral(phase.durationPercentage).format("0.00") %>%</td>
                        </tr>
                        <tr>
                            <th class="text-right">Duration:</th>
                            <td class="text-nowrap"><%= moment().from(moment().add(phase.duration, "seconds"), true) %></td>
                        </tr>
                        <tr>
                            <th class="text-right"></th>
                            <td class="text-nowrap"><%= numeral(phase.duration).format() %> seconds</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <% } %>
    <% }); %>
    </div>
</div>



<h4>Story tasks</h4>

<table id="storyTasks" class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <a href="javascript: void(0);" class="btn btn-default btn-icon tooltipTitle <% if (role === 0) { %>disabled<% } %>" title="Add new task"
                   data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
                   data-add-new-task="true"
                   data-story-id="<%= story.id %>"
                >
                    <i class="fa fa-plus"></i>
                </a>
            </th>
            <th class="col-md-6">Task</th>
            <th class="col-md-2">Owner</th>
            <th class="col-md-1 text-center">Priority</th>
            <th class="col-md-1 text-center tooltipTitle" title="Task have been created after the story has started."
                data-qtip-options='{ "position": { "at": "top center", "my": "bottom center" } }'
            >Overhead</th>
            <th class="col-md-1 text-center">Type</th>
            <th class="col-md-1 text-right">Duration</th>
        </tr>
    </thead>
    <tbody>

    <% if (tasks.length === 0) { %>
    <tr>
        <td colspan="100%" class="text-center text-muted">
            No task data...
        </td>
    </tr>
    <% } %>

    <% _.each(tasks, function(task) { %>
        <tr class="taskRow"
            data-task-id="<%= task.id %>"
        >
            <td>
                <a class="actionMenu-toggle btn btn-icon btn-default" href="javascript: void(0);" data-popover="true">
                    <i class="fa fa-chevron-down"></i>
                </a>
                <div class="hidden">
                    <div class="actionMenu">
                        <ul class="actionMenu-actions">
                            <li>
                                <a href="javascript: void(0);"
                                    data-task-id="<%= task.id %>"
                                    data-story-id="<%= story.id %>"
                                    data-action="taskEdit"
                                >
                                    <i class="fa fa-wrench"></i> Edit task
                                </a>
                            </li>
                            <% if (role !== 0) { %>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript: void(0);" class="text-danger"
                                    data-task-id="<%= task.id %>"
                                    data-story-id="<%= story.id %>"
                                    data-action="taskDelete"
                                >
                                    <i class="fa fa-trash-o"></i> Delete task
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </td>
            <td><%= task.title %></td>
            <td class="text-nowrap">
                <% if (task.user) { %>
                    <%= task.user.fullName() %>
                <% } else { %>
                    <em>nobody</em>
                <% } %>
            </td>
            <td class="text-center text-nowrap task-priority">
                <% if (task.priority) { %>
                    <%= task.priority %>
                <% } %>
            </td>
            <td class="text-center text-nowrap task-overhead">
                <% if (task.createdAtObject().isAfter(story.timeStartObject())) { %>
                    Yes
                <% } else { %>
                    No
                <% } %>
            </td>
            <td class="text-center text-nowrap <%= task.type.classText %>">
                <%= task.type.title %>
            </td>
            <td class="text-right text-nowrap">
                <% if (task.timeDurationHuman() || task.timeStartObjectUser) { %>
                <span class="tooltipDiv">
                <% } %>

                <% if (task.timeDurationHuman()) { %>
                    <%= task.timeDurationHuman() %>
                <% } else if (task.timeStartObjectUser) { %>
                    <em>started</em>
                <% } else { %>
                    <em>not yet started</em>
                <% } %>

                <div class="tooltipDivContainer">
                    <h1>Task duration information</h1>
                    <div>
                        <table class="dateTimeTooltip">
                            <% if (task.timeStartObjectUser) { %>
                            <tr class="title">
                                <th colspan="100%">Task work started at</th>
                            </tr>
                            <tr>
                                <th>Local time</th>
                                <td>
                                    <%= task.timeStartObjectUser.format(currentUser.momentFormatDateTime) %>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td class="text-muted text-small">
                                    <%= task.timeStartObjectUser.tz() %> (<%= task.timeStartObjectUser.format("ZZ") %>)
                                </td>
                            </tr>
                            <tr>
                                <th>UTC time</th>
                                <td><%= task.timeStartObjectUser.utc().format(currentUser.momentFormatDateTime) %></td>
                            </tr>
                            <% } %>

                            <% if (task.timeEndObjectUser) { %>
                            <tr class="title">
                                <th colspan="100%">Task work ended at</th>
                            </tr>
                            <tr>
                                <th>Local time</th>
                                <td><%= task.timeEndObjectUser.format(currentUser.momentFormatDateTime) %></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td class="text-muted text-small">
                                    <%= task.timeEndObjectUser.tz() %> (<%= task.timeEndObjectUser.format("ZZ") %>)
                                </td>
                            </tr>
                            <tr>
                                <th>UTC time</th>
                                <td><%= task.timeEndObjectUser.utc().format(currentUser.momentFormatDateTime) %></td>
                            </tr>

                            <tr class="title">
                                <th colspan="100%">Task duration data</th>
                            </tr>
                            <tr>
                                <th class="text-right">Relative</th>
                                <td><%= task.timeStartObjectUser.from(task.timeEndObjectUser, true) %></td>
                            </tr>
                            <tr>
                                <th class="text-right">Days</th>
                                <td><%= numeral(task.timeEndObjectUser.diff(task.timeStartObjectUser, 'days', true)).format("0,0[.]00") %></td>
                            </tr>
                            <tr>
                                <th class="text-right">Hours</th>
                                <td><%= numeral(task.timeEndObjectUser.diff(task.timeStartObjectUser, 'hours', true)).format("0,0[.]00") %></td>
                            </tr>
                            <tr>
                                <th class="text-right">Minutes</th>
                                <td><%= numeral(task.timeEndObjectUser.diff(task.timeStartObjectUser, 'minutes', true)).format("0,0[.]00") %></td>
                            </tr>

                            <% } else if (task.timeStartObjectUser) { %>
                            <tr class="title">
                                <th colspan="100%">Task duration so far</th>
                            </tr>
                            <tr>
                                <th class="text-right">Relative</th>
                                <td><%= task.timeStartObjectUser.fromNow(true) %></td>
                            </tr>
                            <tr>
                                <th class="text-right">Days</th>
                                <td><%= numeral(moment().diff(task.timeStartObjectUser, 'days', true)).format("0,0[.]00") %></td>
                            </tr>
                            <tr>
                                <th class="text-right">Hours</th>
                                <td><%= numeral(moment().diff(task.timeStartObjectUser, 'hours', true)).format("0,0[.]00") %></td>
                            </tr>
                            <tr>
                                <th class="text-right">Minutes</th>
                                <td><%= numeral(moment().diff(task.timeStartObjectUser, 'minutes', true)).format("0,0[.]00") %></td>
                            </tr>
                            <% } %>

                            <% if (!task.timeStartObjectUser && !task.timeEndObjectUser) { %>
                            <tr class="title">
                                <th colspan="100%">Task has not yet been started.</th>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>

                </span>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>