<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
        User stories below are in <strong>project backlog</strong> this means that stories are not yet been attached
        to <strong>any current project sprint</strong>. You can prioritize these stories simply be drag+drop actions.
    </p>
    <p>
        If you want to assign these stories to current project sprint please use <strong>project planning view</strong>
        for that.
    </p>
</div>

<table id="projectBacklog" class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>
            <a href="javascript: void(0);" class="btn btn-default btn-icon tooltipTitle <% if (role === 0) { %>disabled<% } %>" title="Add new story to project backlog"
               data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
               data-add-new-story="true"
               data-project-id="<%= project.id %>"
            >
                <i class="icon icon-plus"></i>
            </a>
        </th>
        <th class="col-md-9">Story</th>
        <th class="col-md-2">Created at</th>
        <th class="col-md-1">Estimate</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(stories, function(story) { %>
    <tr data-story-id="<%= story.id %>">
        <td>
            <a class="actionMenu-toggle btn btn-icon btn-default" href="#" data-popover="true">
                <i class="icon icon-chevron-down"></i>
            </a>
            <div class="hidden">
                <div class="actionMenu">
                    <ul class="actionMenu-actions">
                        <li>
                            <a href="javascript: void(0);" data-story-id="<%= story.id %>" data-project-id="<%= story.projectId %>" data-action="storyEdit">
                                <i class="icon icon-wrench"></i> Edit story
                            </a>
                        </li>

                        <% if (role !== 0) { %>
                        <li>
                            <a href="javascript: void(0);" data-story-id="<%= story.id %>" data-project-id="<%= story.projectId %>" data-action="storySplit">
                                <i class="icon icon-code-fork"></i> Split story
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript: void(0);" data-story-id="<%= story.id %>" data-project-id="<%= story.projectId %>" data-action="storyDelete" class="text-danger">
                                <i class="icon icon-remove"></i> Delete story
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </td>
        <td class="col-md-9 <% if (role < 0) { %>cursor-move<% } %>">
            <%= story.title %>
        </td>
        <td class="col-md-2 text-nowrap">
            <%= story.createdAt.format('isoDate') %>
        </td>
        <td class="col-md-1 text-right">
            <%= (story.estimate == -1) ? '???' : story.estimate %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>