<ul class="nav nav-tabs">
    <li class="active">
        <a id="basicTab" href="#basic" data-toggle="tab">Basic</a>
    </li>
    <li>
        <a id="usersTab" href="#users" data-toggle="tab" data-callback="initProjectTabUsers" data-href="/ProjectUser/Users?projectId=<%= project.id %>">Users</a>
    </li>
    <li>
        <a id="backlogTab" href="#backlog" data-toggle="tab" data-callback="initProjectTabBacklog" data-href="/Project/Backlog?id=<%= project.id %>">Backlog</a>
    </li>
    <li>
        <a id="milestonesTab" href="#milestones" data-toggle="tab" data-callback="initProjectTabMilestones" data-href="/Project/Milestones?id=<%= project.id %>">Milestones</a>
    </li>
    <li>
        <a id="statisticsTab" href="#statistics" data-toggle="tab" data-callback="initProjectTabStatistics" data-href="/Project/Statistics?id=<%= project.id %>">Statistics</a>
    </li>
    <li>
        <a id="historyTab" href="#history" data-toggle="tab" data-href="/History?objectName=Project&objectId=<%= project.id %>">History</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <form id="formProjectEdit" class="form-horizontal">
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formProjectEditTitle">Title</label>
                <div class="col-lg-9">
                    <input id="formProjectEditTitle" name="title" type="text" value="<%= project.title %>" placeholder="enter project name" class="form-control" required="required" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formProjectEditManagerId">Project manager</label>
                <div class="col-lg-9">
                    <select id="formProjectEditManagerId" name="managerId" class="form-control in-modal required show-tick show-menu-arrow"
                        data-select="true"
                        data-live-search="true"
                        data-container="body"
                    >
                        <% _.each(users, function(user) { %>
                        <option value="<%= user.id %>" <%if (user.id === project.managerId) { %>selected="selected"<% } %>><%= user.fullName() %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formProjectEditDateStart">Duration</label>
                <label class="col-lg-3 control-label" for="formProjectEditDateEnd" style="display: none;"></label>
                <div class="col-lg-9">
                    <div class="input-group date dateStart">
                        <input id="formProjectEditDateStart" name="dateStart" type="text" value="<%= project.dateStartObject().format('YYYY-MM-DD') %>" class="dateInput form-control" size="16" required="required"
                            data-validate-type="daterange"
                            data-role="start"
                            data-pair="formProjectEditDateEnd"
                            data-focus="false"
                            data-edit="true"
                            data-type="project"
                        />
                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                    </div>
                    <span class="separator">&mdash;</span>
                    <div class="input-group date dateEnd">
                        <input id="formProjectEditDateEnd" name="dateEnd" type="text" value="<%= project.dateEndObject().format('YYYY-MM-DD') %>" class="dateInput form-control" size="16" required="required"
                            data-validate-type="daterange"
                            data-role="end"
                            data-pair="formProjectEditDateStart"
                            data-focus="false"
                            data-edit="true"
                            data-type="project"
                        />
                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formProjectEditDescription">Description</label>
                <div class="col-lg-9">
                    <textarea id="formProjectEditDescription" name="description" class="form-control" data-wysiwyg="true" placeholder="enter project description"><%= project.description %></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="users"></div>

    <div class="tab-pane" id="backlog"></div>

    <div class="tab-pane" id="milestones"></div>

    <div class="tab-pane" id="statistics"></div>

    <div class="tab-pane" id="history"></div>
</div>