<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    You can prioritize user stories by dragging them in lists. You can also assign story to sprint by dragging it to sprint story list.
</div>

<div class="row-fluid backlog">
    <div class="span6">
        <h4>Project backlog</h4>
        <ul class="sortable" data-sprint-id="0">
        <% _.each(stories, function(story) { %>
            <% if(story.sprintId === 0 || story.sprintId === null) { %>
            <li data-story-id="<%= story.id %>">
                <%= story.title %> (<%= story.estimateFormatted() %>)

                <i class="icon icon-wrench pull-right tooltipTitle event" title="Edit story"
                    data-id="<%= story.id %>"
                    data-type="story"
                ></i>
            </li>
            <% } %>
        <% }) %>
        </ul>
    </div>
    <div class="span6">
        <h4>Sprints</h4>

        <div class="accordion" id="backlogAccordion">
        <% _.each(sprints, function(sprint) { %>
            <div class="accordion-group">
                <div class="accordion-heading alert-info">
                    <i class="icon icon-wrench pull-right tooltipTitle event" title="Edit sprint"
                       data-id="<%= sprint.id %>"
                       data-type="sprint"
                    ></i>

                    <a class="accordion-toggle" data-toggle="collapse" href="#sprintContent_<%= sprint.id %>">
                        <i class="chevron icon icon-chevron-right icon-chevron-right"></i>
                        <%= sprint.title %>

                        <span class="pull-right text-small">
                            <%= sprint.durationDates() %> (<%= sprint.durationDays() %> days)
                        </span>
                    </a>
                </div>
                <div id="sprintContent_<%= sprint.id %>" class="accordion-body collapse ">
                    <div class="accordion-inner">
                        <ul class="sortable" data-sprint-id="<%= sprint.id %>">
                        <% _.each(stories, function(story) { %>
                            <% if(story.sprintId === sprint.id) { %>
                            <li data-story-id="<%= story.id %>">
                                <%= story.title %> (<%= story.estimateFormatted %>)

                                <i class="icon icon-wrench pull-right tooltipTitle event" title="Edit story"
                                    data-id="<%= story.id %>"
                                    data-type="story"
                                ></i>
                            </li>
                            <% } %>
                        <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
</div>