<div class="progressTotal">
    <h4>Project progress</h4>

    <div class="row">
        <div class="col-md-2 text-right text-nowrap">
            <a href="javascript: void(0)" class="tooltipTitle" title="Show detailed information about progress of milestones"
               data-toggle-details="true"
               data-details="detailedMilestones"
               data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
            >
                Milestones <small>(<%= milestones.cntDone %> / <%= milestones.cntTotal %>)</small>
            </a>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= milestones.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= milestones.progress %>%;">
                    <% if (milestones.progress > 0) { %>
                    <span ><%= milestones.progress %>% Complete</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div id="detailedMilestones" class="progressDetailed">
        <% _.each(milestones.data, function(milestone) { %>
        <div class="row">
            <div class="col-md-3 text-right">
                <span class="tooltipDiv"
                    data-qtip-options='{ "position": {"my": "center right", "at": "center left", "adjust": {"y": 7} }, "show": {"delay": 0}, "hide": {"delay": 0} }'
                >
                    <a class="trunk8"
                       data-toggle-details="true"
                       data-details="detailedMilestonesStories_<%= milestone.id %>"
                    >
                        <%= milestone.title %>
                        <small>(<%= milestone.stories.cntDone %> / <%= milestone.stories.cntTotal %>)</small>
                    </a>

                    <div class="tooltipDivContainer">
                        <h1><%= milestone.title %></h1>
                        <div>
                            <% if (milestone.description.length > 0) { %>
                            <%= milestone.description %>
                            <% } else { %>
                            <em>No description...</em>
                            <% } %>
                            <hr />
                            <table class="text-medium">
                                <tr>
                                    <th class="text-nowrap text-right">Stories:</th>
                                    <td class="text-nowrap"><%= milestone.stories.cntDone %> / <%= milestone.stories.cntTotal %></td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap text-right">Deadline:</th>
                                    <td class="text-nowrap">
                                    <% if (milestone.deadlineObject()) { %>
                                        <%= milestone.deadlineObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDate) %>,
                                        <%= milestone.deadlineObject().tz(currentUser.momentTimezone).fromNow() %>
                                    <% } else { %>
                                        <em>no deadline</em>
                                    <% } %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </span>
            </div>

            <div class="col-md-9">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= milestone.stories.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= milestone.stories.progress %>%;">
                        <% if (milestone.stories.progress > 0) { %>
                        <span ><%= milestone.stories.progress %>% Complete</span>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div id="detailedMilestonesStories_<%= milestone.id %>" class="progressDetailed">
            <% _.each(milestone.stories.data, function(story) { %>
            <div class="row">
                <div class="col-md-4 text-right">
                    <span class="tooltipDiv"
                          data-qtip-options='{ "position": {"my": "center right", "at": "center left", "adjust": {"y": 7} }, "show": {"delay": 0}, "hide": {"delay": 0} }'
                            >
                        <span class="trunk8">
                            <%= story.title %> <small>(<%= story.tasks.cntDone %> / <%= story.tasks.cntTotal %>)</small>
                        </span>

                        <div class="tooltipDivContainer">
                            <h1><%= story.title %></h1>
                            <div>
                                <% if (story.description.length > 0) { %>
                                <%= story.description %>
                                <% } else { %>
                                <em>No description...</em>
                                <% } %>
                                <hr />
                                <table class="text-medium">
                                    <tr>
                                        <th class="text-nowrap text-right">Estimate:</th>
                                        <td class="text-nowrap"><% if (story.estimate === -1) { %>???<% } else { %><%= story.estimate %> <% } %></td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap text-right">Tasks:</th>
                                        <td class="text-nowrap"><%= story.tasks.cntDone %> / <%= story.tasks.cntTotal %></td>
                                    </tr>

                                    <% if (moment.isMoment(story.timeStartObject()) && story.timeStartObject().isValid()) { %>
                                    <tr>
                                        <th class="text-nowrap text-right">Started:</th>
                                        <td class="text-nowrap">
                                            <%=
                                            story.timeStartObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDateTime)
                                            %>
                                        </td>
                                    </tr>
                                    <% } %>

                                    <% if (moment.isMoment(story.timeEndObject()) && story.timeEndObject().isValid()) { %>
                                    <tr>
                                        <th class="text-nowrap text-right">Ended:</th>
                                        <td class="text-nowrap">
                                            <%=
                                            story.timeEndObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDateTime)
                                            %>
                                        </td>
                                    </tr>
                                    <% } %>

                                    <% if (
                                        (moment.isMoment(story.timeStartObject()) && story.timeStartObject().isValid())
                                        && (moment.isMoment(story.timeEndObject()) && story.timeEndObject().isValid())
                                    ) { %>
                                    <tr>
                                        <th class="text-nowrap text-right">Duration:</th>
                                        <td class="text-nowrap">
                                            <%= story.timeStartObject().from(story.timeEndObject(), true) %>
                                        </td>
                                    </tr>
                                    <% } %>

                                </table>
                            </div>
                        </div>
                    </span>
                </div>

                <div class="col-md-8">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= story.tasks.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= story.tasks.progress %>%;">
                            <% if (story.tasks.progress > 0) { %>
                            <span ><%= story.tasks.progress %>% Complete</span>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

        <% }); %>
    </div>


    <div class="row">
        <div class="col-md-2 text-right text-nowrap">
            <a href="javascript: void(0)" class="tooltipTitle" title="Show detailed information about progress of sprints"
               data-toggle-details="true"
               data-details="detailedSprints"
               data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
            >
                Sprints <small>(<%= sprints.cntDone %> / <%= sprints.cntTotal %>)</small>
            </a>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= sprints.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= sprints.progress %>%;">
                    <% if (sprints.progress > 0) { %>
                    <span ><%= sprints.progress %>% Complete</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div id="detailedSprints" class="progressDetailed">
        <% _.each(sprints.data, function(sprint) { %>
        <div class="row">
            <div class="col-md-3 text-right">
                <span class="tooltipDiv"
                    data-qtip-options='{ "position": {"my": "center right", "at": "center left", "adjust": {"y": 7} }, "show": {"delay": 0}, "hide": {"delay": 0} }'
                >
                    <a class="trunk8"
                       data-toggle-details="true"
                       data-details="detailedSprintsStories_<%= sprint.id %>"
                    >
                        <span class="trunk8">
                            <%= sprint.title %>
                            <small>(<%= sprint.stories.cntDone %> / <%= sprint.stories.cntTotal %>)</small>
                        </span>
                    </a>

                    <div class="tooltipDivContainer">
                        <h1><%= sprint.title %></h1>
                        <div>
                        <% if (sprint.description.length > 0) { %>
                            <%= sprint.description %>
                        <% } else { %>
                            <em>No description...</em>
                        <% } %>
                            <hr />
                            <table class="text-medium">
                                <tr>
                                    <td class="text-nowrap text-right">Duration:</td>
                                    <td class="text-nowrap">
                                        <%= sprint.dateStartObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDate) %>
                                        -
                                        <%= sprint.dateEndObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDate) %>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap text-right"></th>
                                    <td class="text-nowrap"><%= sprint.durationDays() %> day(s)</td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-right">Stories:</td>
                                    <td class="text-nowrap"><%= sprint.stories.cntDone %> / <%= sprint.stories.cntTotal %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </span>
            </div>

            <div class="col-md-9">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= sprint.stories.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= sprint.stories.progress %>%;">
                        <% if (sprint.stories.progress > 0) { %>
                        <span ><%= sprint.stories.progress %>% Complete</span>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div id="detailedSprintsStories_<%= sprint.id %>" class="progressDetailed">
            <% _.each(sprint.stories.data, function(story) { %>
            <div class="row">
                <div class="col-md-4 text-right">
                    <span class="tooltipDiv"
                          data-qtip-options='{ "position": {"my": "center right", "at": "center left", "adjust": {"y": 7} }, "show": {"delay": 0}, "hide": {"delay": 0} }'
                            >
                        <span class="trunk8">
                            <%= story.title %> <small>(<%= story.tasks.cntDone %> / <%= story.tasks.cntTotal %>)</small>
                        </span>

                        <div class="tooltipDivContainer">
                            <h1><%= story.title %></h1>
                            <div>
                                <% if (story.description.length > 0) { %>
                                <%= story.description %>
                                <% } else { %>
                                <em>No description...</em>
                                <% } %>
                                <hr />
                                <table class="text-medium">
                                    <tr>
                                        <th class="text-nowrap text-right">Estimate:</th>
                                        <td class="text-nowrap"><% if (story.estimate === -1) { %>???<% } else { %><%= story.estimate %> <% } %></td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap text-right">Tasks:</th>
                                        <td class="text-nowrap"><%= story.tasks.cntDone %> / <%= story.tasks.cntTotal %></td>
                                    </tr>

                                    <% if (moment.isMoment(story.timeStartObject()) && story.timeStartObject().isValid()) { %>
                                    <tr>
                                        <th class="text-nowrap text-right">Started:</th>
                                        <td class="text-nowrap">
                                            <%=
                                            story.timeStartObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDateTime)
                                            %>
                                        </td>
                                    </tr>
                                    <% } %>

                                    <% if (moment.isMoment(story.timeEndObject()) && story.timeEndObject().isValid()) { %>
                                    <tr>
                                        <th class="text-nowrap text-right">Ended:</th>
                                        <td class="text-nowrap">
                                            <%=
                                            story.timeEndObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDateTime)
                                            %>
                                        </td>
                                    </tr>
                                    <% } %>

                                    <% if (
                                    (moment.isMoment(story.timeStartObject()) && story.timeStartObject().isValid())
                                    && (moment.isMoment(story.timeEndObject()) && story.timeEndObject().isValid())
                                    ) { %>
                                    <tr>
                                        <th class="text-nowrap text-right">Duration:</th>
                                        <td class="text-nowrap">
                                            <%= story.timeStartObject().from(story.timeEndObject(), true) %>
                                        </td>
                                    </tr>
                                    <% } %>

                                </table>
                            </div>
                        </div>
                    </span>
                </div>

                <div class="col-md-8">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= story.tasks.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= story.tasks.progress %>%;">
                            <% if (story.tasks.progress > 0) { %>
                            <span ><%= story.tasks.progress %>% Complete</span>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

        <% }); %>
    </div>

    <div class="row">
        <div class="col-md-2 text-right text-nowrap">
            <a href="javascript: void(0)" class="tooltipTitle" title="Show detailed information about progress of stories"
               data-toggle-details='true'
               data-details='detailedStories'
               data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
            >
                Stories <small>(<%= stories.cntDone %> / <%= stories.cntTotal %>)</small>
            </a>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= stories.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= stories.progress %>%;">
                    <% if (stories.progress > 0) { %>
                    <span ><%= stories.progress %>% Complete</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div id="detailedStories" class="progressDetailed">
    <% _.each(stories.data, function(story) { %>
        <div class="row">
            <div class="col-md-3 text-right">
                <span class="tooltipDiv"
                    data-qtip-options='{ "position": {"my": "center right", "at": "center left", "adjust": {"y": 7} }, "show": {"delay": 0}, "hide": {"delay": 0} }'
                >
                    <span class="trunk8">
                        <%= story.title %> <small>(<%= story.tasks.cntDone %> / <%= story.tasks.cntTotal %>)</small>
                    </span>

                    <div class="tooltipDivContainer">
                        <h1><%= story.title %></h1>
                        <div>
                            <% if (story.description.length > 0) { %>
                            <%= story.description %>
                            <% } else { %>
                            <em>No description...</em>
                            <% } %>
                            <hr />
                            <table class="text-medium">
                                <tr>
                                    <th class="text-nowrap text-right">Estimate:</th>
                                    <td class="text-nowrap"><% if (story.estimate === -1) { %>???<% } else { %><%= story.estimate %> <% } %></td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap text-right">Tasks:</th>
                                    <td class="text-nowrap"><%= story.tasks.cntDone %> / <%= story.tasks.cntTotal %></td>
                                </tr>

                                <% if (moment.isMoment(story.timeStartObject()) && story.timeStartObject().isValid()) { %>
                                <tr>
                                    <th class="text-nowrap text-right">Started:</th>
                                    <td class="text-nowrap">
                                        <%=
                                        story.timeStartObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDateTime)
                                        %>
                                    </td>
                                </tr>
                                <% } %>

                                <% if (moment.isMoment(story.timeEndObject()) && story.timeEndObject().isValid()) { %>
                                <tr>
                                    <th class="text-nowrap text-right">Ended:</th>
                                    <td class="text-nowrap">
                                        <%=
                                        story.timeEndObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDateTime)
                                        %>
                                    </td>
                                </tr>
                                <% } %>

                                <% if (
                                (moment.isMoment(story.timeStartObject()) && story.timeStartObject().isValid())
                                && (moment.isMoment(story.timeEndObject()) && story.timeEndObject().isValid())
                                ) { %>
                                <tr>
                                    <th class="text-nowrap text-right">Duration:</th>
                                    <td class="text-nowrap">
                                        <%= story.timeStartObject().from(story.timeEndObject(), true) %>
                                    </td>
                                </tr>
                                <% } %>

                            </table>
                        </div>
                    </div>
                </span>
            </div>

            <div class="col-md-9">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= story.tasks.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= story.tasks.progress %>%;">
                        <% if (story.tasks.progress > 0) { %>
                        <span ><%= story.tasks.progress %>% Complete</span>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    </div>

    <div class="row">
        <div class="col-md-2 text-right text-nowrap">
            Tasks <small>(<%= tasks.cntDone %> / <%= tasks.cntTotal %>)</small>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= tasks.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= tasks.progress %>%;">
                    <% if (tasks.progress > 0) { %>
                    <span ><%= tasks.progress %>% Complete</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <h4>Task times in phases <span class="text-no-shadow text-small text-muted">Note that first and last phases are excluded out of this statistics.</span></h4>

    <div class="progress">
    <% _.each(phases, function(phase) { %>
        <% if (phase.order !== 0 && phase.durationPercentage > 0) { %>
        <div class="progress-bar tooltipDiv" style="width: <%= phase.durationPercentage %>%; background-color: <%= phase.backgroundColor %>;">
            <span><%= phase.title %> <%= numeral(phase.durationPercentage).format("0.00") %>%</span>

            <div class="tooltipDivContainer">
                <h1>Statistics of phase '<%= phase.title %>'</h1>
                <div>
                    <table>
                        <tr>
                            <th class="text-right">Percentage:</th>
                            <td class="text-nowrap"><%= numeral(phase.durationPercentage).format("0.00") %>%</td>
                        </tr>
                        <tr>
                            <th class="text-right">Duration:</th>
                            <td class="text-nowrap"><%= moment().from(moment().add(phase.duration, "seconds"), true) %></td>
                        </tr>
                        <tr>
                            <th class="text-right"></th>
                            <td class="text-nowrap"><%= numeral(phase.duration).format() %> seconds</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <% } %>
    <% }); %>
    </div>
</div>