<ul class="nav nav-tabs">
    <li class="active">
        <a href="#basic" data-toggle="tab">Basic</a>
    </li>

    <%- partial("../partials/common_tabs_header", {objectName: "ExternalLink", objectId: link.id}) %>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <form id="formExternalLinkEdit" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formExternalLinkEditTitle">Title</label>
                <div class="col-lg-9">
                    <input id="formTaskEditTitle" name="title" type="text" placeholder="enter external link title" class="form-control" required="required" value="<%= link.title %>" />
                </div>
            </div>
        
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formTaskEditLink">External link</label>
                <div class="col-lg-9">
                    <input id="formTaskEditLink" name="link" type="text" placeholder="enter base of external link" class="form-control" required="required" value="<%= link.link %>"
                        data-validate-type="url"
                    />
                </div>
            </div>
        
            <div class="form-group">
                <label class="col-lg-3 control-label" for="formTaskEditLink">Dynamic parameter(s)</label>
                <div class="col-lg-9">
                    <p id="decodedUrl" class="form-control-static"
                        data-text-original="<em>Please enter external link</em>"
                        data-text-no-parameters="<em>Given URL doesn't contain any parameters</em>"
                    >
                        <em>Please enter external link</em>
                    </p>
                </div>
        
                <div class="col-lg-offset-3 col-lg-9">
                    <span class=" help-block">
                        You can specify <code class="text-small">dynamic parameters</code> for the external link. Every dynamic
                        parameter must be defined in link as <code class="text-small">:param</code>, where param is shown in
                        external link add GUI as in input field for current external link. Example link can be as in following
                        format: <code class="text-small">http://www.foobar.com/?foo=:foo&bar=:bar</code> This external link will
                        have two dynamic parameters that user has to specify when he / she is attaching this link to any object.
                    </span>
                </div>
            </div>
        
            <div class="form-group">
                <label class="col-lg-3 control-label" for="formExternalLinkEditDescription">Description</label>
                <div class="col-lg-9">
                    <textarea id="formTaskEditDescription" name="description" class="form-control" data-wysiwyg="true" placeholder="enter external link description"><%= link.description %></textarea>
                </div>
            </div>
        </form>
    </div>

    <%- partial("../partials/common_tabs_content") %>
</div>