<form id="formTaskNew" class="form-horizontal">
    <input type="hidden" name="storyId" value="<%= storyId %>" />
    <input type="hidden" name="phaseId" value="<%= phaseId %>" />

    <div class="form-group required">
        <label class="col-lg-3 control-label" for="formTaskNewTitle">Title</label>
        <div class="col-lg-9">
            <input id="formTaskNewTitle" name="title" type="text" placeholder="enter task title" class="form-control" required="required">
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label" for="formTaskNewTypeId">Type</label>
        <div class="col-lg-9">
            <select id="formTaskNewTypeId" name="typeId" class="form-control">
                <% _.each(types, function(type) { %>
                <option value="<%= type.id %>"><%= type.title %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label" for="formTaskNewOwner">Owner</label>
        <div class="col-lg-9">
            <select id="formTaskNewOwner" name="userId" class="form-control">
                <option value="0">-- select --</option>
                <% _.each(users, function(user) { %>
                <option value="<%= user.id %>"><%= user.fullName() %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label" for="formTaskNewDescription">Description</label>
        <div class="col-lg-9">
            <textarea id="formTaskNewDescription" name="description" class="form-control" placeholder="enter task description"></textarea>
        </div>
    </div>
</form>