<form id="formTaskNew" class="form-horizontal">
    <input type="hidden" name="storyId" value="<%= storyId %>" />
    <input type="hidden" name="phaseId" value="<%= phaseId %>" />

    <fieldset>
        <div class="control-group required">
            <label class="control-label" for="formTaskNewTitle">Title</label>
            <div class="controls">
                <input id="formTaskNewTitle" name="title" type="text" placeholder="enter task title" class="span3" required="required">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formTaskNewTypeId">Type</label>
            <div class="controls">
                <select id="formTaskNewTypeId" name="typeId" class="span3">
                    <% _.each(types, function(type) { %>
                    <option value="<%= type.id %>"><%= type.title %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formTaskNewOwner">Owner</label>
            <div class="controls">
                <select id="formTaskNewOwner" name="userId" class="span3">
                    <option value="0">-- select --</option>
                    <% _.each(users, function(user) { %>
                    <option value="<%= user.id %>"><%= user.fullName() %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formTaskNewDescription">Description</label>
            <div class="controls">
                <textarea id="formTaskNewDescription" name="description" class="span3" placeholder="enter task description"></textarea>
            </div>
        </div>
    </fieldset>
</form>