<form id="formTaskEdit" class="form-horizontal">
    <fieldset>
        <div class="control-group required">
            <label class="control-label" for="formTaskEditTitle">Title</label>
            <div class="controls">
                <input id="formTaskEditTitle" name="title" type="text" value="<%= task.title %>" placeholder="enter task title" class="span3" required="required">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formTaskEditTypeId">Type</label>
            <div class="controls">
                <select id="formTaskEditTypeId" name="typeId" class="span3">
                    <% _.each(types, function(type) { %>
                    <option value="<%= type.id %>" <%if (type.id === task.typeId) { %>selected="selected"<% } %>><%= type.title %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formTaskEditOwner">Owner</label>
            <div class="controls">
                <select id="formTaskEditOwner" name="userId" class="span3">
                    <option value="0">-- select --</option>
                    <% _.each(users, function(user) { %>
                    <option value="<%= user.id %>" <%if (user.id === task.userId) { %>selected="selected"<% } %>><%= user.fullName() %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formTaskEditDescription">Description</label>
            <div class="controls">
                <textarea id="formTaskEditDescription" name="description" class="span3" placeholder="enter task description"><%= task.description %></textarea>
            </div>
        </div>
    </fieldset>
</form>