<div class="progressTotal">
    <h4>Task durations in phases <span class="text-no-shadow text-small text-muted">Note that first and last phases are excluded out of this statistics.</span></h4>

    <div class="progress">
    <% _.each(phases, function(phase) { %>
        <% if (phase.order !== 0 && phase.durationPercentage > 0) { %>
        <div class="progress-bar tooltipDiv" style="width: <%= phase.durationPercentage %>%; background-color: <%= phase.backgroundColor %>;">
            <span><%= phase.title %> <%= numeral(phase.durationPercentage).format("0.00") %>%</span>

            <div class="tooltipDivContainer">
                <h1>Statistics of phase '<%= phase.title %>'</h1>
                <div>
                    <table>
                        <tr>
                            <th class="text-right">Percentage:</th>
                            <td class="text-nowrap"><%= numeral(phase.durationPercentage).format("0.00") %>%</td>
                        </tr>
                        <tr>
                            <th class="text-right">Duration:</th>
                            <td class="text-nowrap"><%= moment().from(moment().add(phase.duration, "seconds"), true) %></td>
                        </tr>
                        <tr>
                            <th class="text-right"></th>
                            <td class="text-nowrap"><%= numeral(phase.duration).format() %> seconds</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <% } %>
    <% }); %>
    </div>
</div>

<div id="pieChart"></div>

<script style="javascript">
    jQuery("#pieChart").highcharts({
        chart: {
            height: 250
        },
        title: {
            text: false
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: "pointer",
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        legend: {
            backgroundColor: "#ffffff",
            align: "right",
            verticalAlign: "middle",
            layout: "vertical",
            x: -60,
            floating: true,
            labelFormatter: function() {
                return this.name + " " + numeral(this.y).format("0.00") + "%";
            }
        },
        tooltip: {
            hideDelay: 100,
            useHTML: true,
            borderColor: "#cccccc",
            borderWidth: 1,
            shadow: false,
            formatter: function() {
                return ""
                    + "<div class='chartToolTipTasks'>"
                        + "<h1>Statistics of phase '" + this.point.name + "'</h1>"
                        + "<div>"
                            + "<table>"
                                + "<tr>"
                                    + "<th class='text-right'>Percentage:</th>"
                                    + "<td class='text-nowrap'>" + numeral(this.y).format("0.00") + "%</td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<th class='text-right'>Duration:</th>"
                                    + "<td class='text-nowrap'>" + moment().from(moment().add(this.point.duration, "seconds"), true) + "</td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<th class='text-right'></th>"
                                    + "<td class='text-nowrap'>" + numeral(this.point.duration).format() + " seconds</td>"
                                + "</tr>"
                            + "</table>"
                        + "</div>"
                    + "</div>"
                ;
            }
        },
        series: [{
            type: "pie",
            name: "Task times in phases",
            data: <%- JSON.stringify(chartData) %>
        }]
    });

</script>