<li class="comment">
    <article>
        <a class="pull-left gravatar" href="javascript: void(0);">
            <div style="display: none;">
                <i class="fa fa-user"></i>
            </div>

            <img src="<%= comment.author.gravatarImage(50) %>" onerror="this.style.display = 'none'; this.previousElementSibling.style.display = '';" />
        </a>

        <div id="comment_<%= comment.id %>">
            <div class="panel">
                <h1>
                    <%= comment.author.fullName() %>
                    -
                    <span class="text-medium tooltipDiv"
                        data-qtip-options='{ "position": { "at": "top center", "my": "bottom center" } }'
                    >
                        <%= comment.stampObject().fromNow() %>

                        <%- partial("../../partials/tooltip/datetime", {tooltipTitle: false, stamp: comment.stampObject()}) %>
                    </span>

                    <span class="pull-right text-no-shadow text-small action-images">
                        <a href="javascript: void(0);" class="comment-action tooltipTitle" title="Make reply to this comment"
                            data-qtip-options='{ "position": { "at": "top center", "my": "bottom center" } }'
                            data-comment-id="<%= comment.id %>"
                            data-action="reply"
                        ><i class="fa fa-reply"></i></a>

                        <% if (comment.author.id === currentUser.id) { %>
                        <a href="javascript: void(0);" class="comment-action tooltipTitle" title="Edit your comment"
                            data-qtip-options='{ "position": { "at": "top center", "my": "bottom center" } }'
                            data-comment-id="<%= comment.id %>"
                            data-action="edit"
                        ><i class="fa fa-pencil"></i></a>

                        <a href="javascript: void(0);" class="comment-action tooltipTitle text-danger" title="Delete your comment"
                           data-qtip-options='{ "position": { "at": "top center", "my": "bottom center" } }'
                           data-comment-id="<%= comment.id %>"
                           data-action="delete"
                        ><i class="fa fa-times"></i></a>
                        <% }%>
                    </span>
                </h1>

                <div class="comment-content">
                    <%- comment.comment %>
                </div>

            </div>
        </div>

    <% if (_.size(comment.comments) > 0) { %>
        <ul>
        <% _.each(comment.comments, function(comment) { %>
            <%- partial("comment", comment) %>
        <% }); %>
        </ul>
    <% } %>
    </article>
</li>
