<% if (_.size(data) === 0) { %>
    <p class="text-center text-muted">
        No history data for this object...
    </p>
<% } else { %>
    <% _.each(data, function(row) { %>
        <div class="history">
            <h4>
                <span class="tooltipDiv">
                    <%= row.stamp.format(currentUser.momentFormatDateTime) %>

                    <%- partial("../partials/tooltip/datetime", {tooltipTitle: false, stamp: row.stamp}) %>
                </span>
                <small class="pull-right">
                    Add user info here
                </small>
            </h4>

            <% if (row.data) { %>
            <ul class="list-unstyled">

                <% if (row.message) { %>
                <li>
                    <%= row.message %>
                </li>
                <% } %>

                <% _.each(row.data, function(value, key) { %>
                <li>
                    <% if (value.changeType == 'insert') { %>
                        <% if (value.columnType == 'parent') { %>
                            Copied object from <span class="text-info"><%= value.valueNew %></span>.
                        <% } else if (value.columnType == 'relation' || value.columnType == 'boolean') { %>
                            Added column <span class="text-info"><%= value.column %></span> with value <span class="text-info"><%= value.valueNew %></span>.
                        <% } else { %>
                            Added column <span class="text-info"><%= value.column %></span>.
                        <% } %>
                    <% } else if (value.changeType == 'delete') { %>
                        Removed column <span class="text-info"><%= value.column %></span>.
                    <% } else { %>
                        <% if (value.columnType == 'relation' || value.columnType == 'boolean') { %>
                            Changed column <span class="text-info"><%= value.column %></span> value from <span class="text-info"><%= value.valueOld %></span> to <span class="text-info"><%= value.valueNew %></span>.
                        <% } else { %>
                            Changed column <span class="text-info"><%= value.column %></span> value.
                        <% } %>
                    <% } %>
                </li>
                <% }); %>
            </ul>
            <% } %>
        </div>
    <% }); %>
<% } %>