<% if (_.size(data) === 0) { %>
    <p class="text-center text-muted">
        No history data for this object...
    </p>
<% } else { %>
    <% _.each(data, function(row) { %>
        <% if (_.size(row.data) || row.message) { %>
        <div class="history">
            <h4>
                <span class="tooltipDiv">
                    <%= row.stamp.format(currentUser.momentFormatDateTime) %>

                    <%- partial("../partials/tooltip/datetime", {tooltipTitle: false, stamp: row.stamp}) %>
                </span>
                <small class="pull-right">
                    <% if (row.user === -1) { %>
                        Unknown
                    <% } else if (row.user) { %>
                        <%= row.user.fullName() %>

                        <span class="gravatar">
                            <img src="<%- row.user.gravatarImage(25) %>" />
                        </span>

                    <% } %>
                </small>
            </h4>

            <ul class="list-unstyled">
                <% if (row.message) { %>
                <li>
                    <%- row.message %>
                </li>
                <% } %>

                <% _.each(row.data, function(values, changeType) { %>
                    <% _.each(values, function(value, key) { %>
                    <li>
                        <% if (changeType == 'insert') { %>
                            <% if (value.columnType == 'parent') { %>
                                Copied object from <span class="text-info"><%= value.valueNew %></span>.
                            <% } else if (value.columnType == 'relation' || value.columnType == 'boolean') { %>
                                Added column <span class="text-info"><%= value.column %></span> with value
                                <span class="text-info"><%= value.valueNew %></span>.
                            <% } else { %>
                                Added column <span class="text-info tooltipDiv">
                                    <%= value.column %>

                                    <%- partial("partials/value", {data: value}) %>
                                </span> value.
                            <% } %>
                        <% } else if (value.changeType == 'delete') { %>
                            Removed column <span class="text-info"><%= value.column %></span> value.
                        <% } else { %>
                            <% if (value.columnType == 'relation' || value.columnType == 'boolean') { %>
                                Changed column <span class="text-info"><%= value.column %></span> value from
                                <span class="text-info"><%= value.valueOld %></span> <span class="text-small text-muted">[<%= value.valueIdOld %>]</span> to
                                <span class="text-info"><%= value.valueNew %></span> <span class="text-small text-muted">[<%= value.valueIdNew %>]</span>.
                            <% } else { %>
                                Changed column <span class="text-info tooltipDiv">
                                    <%= value.column %>

                                    <%- partial("partials/value", {data: value}) %>
                                </span> value.
                            <% } %>
                        <% } %>
                    </li>
                    <% }); %>
                <% }); %>
            </ul>
        </div>
        <% } %>
    <% }); %>
<% } %>