<div class="tooltipDivContainer">
    <% if (tooltipTitle) { %>
    <h1><%= tooltipTitle %></h1>
    <% } %>

    <div>
        <% if (stamp.tz() === "Etc/UTC") {
            stamp = stamp.tz(currentUser.momentTimezone);
        } %>

        <table class="dateTimeTooltip">
            <tr>
                <th>Local time</th>
                <td><%= stamp.format(currentUser.momentFormatDateTime) %></td>
            </tr>
            <tr>
                <th></th>
                <td class="text-muted">
                    <%= stamp.tz() %> (<%= stamp.format("ZZ") %>)
                </td>
            </tr>
            <tr>
                <th>UTC time</th>
                <td><%= stamp.utc().format(currentUser.momentFormatDateTime) %></td>
            </tr>
        </table>
    </div>
</div>