<div class="tooltipDivContainer">
    <h1><%= milestone.title %></h1>
    <div>
    <% if (milestone.description.length > 0) { %>
        <%= milestone.description %>
    <% } else { %>
        <em>No description...</em>
    <% } %>
        <hr />
        <table class="text-medium">
            <tr>
                <th class="text-nowrap text-right">Stories:</th>
                <td class="text-nowrap"><%= milestone.stories.cntDone %> / <%= milestone.stories.cntTotal %></td>
            </tr>
            <tr>
                <th class="text-nowrap text-right">Deadline:</th>
                <td class="text-nowrap">
                <% if (milestone.deadlineObject()) { %>
                    <%= milestone.deadlineObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDate) %>,
                    <%= milestone.deadlineObject().tz(currentUser.momentTimezone).fromNow() %>
                <% } else { %>
                    <em>no deadline</em>
                <% } %>
                </td>
            </tr>
        </table>
    </div>
</div>