<div class="tooltipDivContainer">
    <h1><%= sprint.title %></h1>
    <div>
    <% if (sprint.description.length > 0) { %>
        <%= sprint.description %>
    <% } else { %>
        <em>No description...</em>
    <% } %>
        <hr />
        <table class="text-medium">
            <tr>
                <td class="text-nowrap text-right">Duration:</td>
                <td class="text-nowrap">
                    <%= sprint.dateStartObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDate) %>
                    -
                    <%= sprint.dateEndObject().tz(currentUser.momentTimezone).format(currentUser.momentFormatDate) %>
                </td>
            </tr>
            <tr>
                <th class="text-nowrap text-right"></th>
                <td class="text-nowrap"><%= sprint.durationDays() %> day(s)</td>
            </tr>
            <tr>
                <td class="text-nowrap text-right">Stories:</td>
                <td class="text-nowrap"><%= sprint.stories.cntDone %> / <%= sprint.stories.cntTotal %></td>
            </tr>
        </table>
    </div>
</div>