<!DOCTYPE html>
<html>
<head>
    <title>
        <%- title %>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/bower_components/jquery-ui/themes/base/minified/jquery-ui.min.css">
    <link rel="stylesheet" href="/linker/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/bower_components/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/linker/bower_components/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="/linker/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/linker/vendor/qTip/jquery.qtip.css">
    <link rel="stylesheet" href="/linker/styles/form.css">
    <link rel="stylesheet" href="/linker/styles/layout.css">
    <link rel="stylesheet" href="/linker/styles/modal.css">
    <link rel="stylesheet" href="/linker/styles/responsive.css">
    <link rel="stylesheet" href="/linker/styles/screen.css">
    <link rel="stylesheet" href="/linker/styles/signin.css">
    <link rel="stylesheet" href="/linker/styles/taskboard.css">
    <!--STYLES END-->

    <script type="text/javascript">
        var userObject = <%- JSON.stringify(user) %>;
        var loggedUserId = <%= user.id %>;
        var selectedProjectId = <%= projectId %>;
        var selectedSprintId = <%= sprintId %>;
    </script>

</head>

<body>

<div id="header">
    <div class="navbar navbar-fixed-top">

        <a class="navbar-brand" href="/">Taskboard</a>

        <ul id="navigation" class="nav navbar-nav" style="display: none;">
            <li>
                <div class="input-group">
                    <select id="selectProject" class="show-tick show-menu-arrow"
                        data-select="true"
                        data-bind="
                            options: sortedProjects,
                            optionsText: 'title',
                            optionsValue: 'id',
                            optionsCaption: 'Choose project to show',
                            value: selectedProjectId(),
                            changeProject: 'id'
                        "
                    ></select>
                    <span class="input-group-addon dropdown">
                        <div data-bind="visible: !project()">
                            <a href="javascript: void(0);" class="tooltipTitle" title="Add new project"
                               data-placement="bottom"
                               data-bind="click: $root.actionProjectAdd"
                            >
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div data-bind="visible: project()">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"
                               data-hover="dropdown"
                               data-delay="100"
                            >
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-header text-info">Basic functions</li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionProjectAdd"
                                    >
                                        <i class="fa fa-plus"></i>
                                        Add new project
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionProjectEdit"
                                    >
                                        <i class="fa fa-wrench"></i>
                                        Edit project
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionProjectBacklog"
                                    >
                                        <i class="fa fa-list-ol"></i>
                                        Project backlog
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionProjectMilestones"
                                    >
                                        <i class="fa fa-gear"></i>
                                        Milestones
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header text-info">Advanced</li>

                                <!-- ko if: $root.role() < 0 -->
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionPhasesEdit"
                                    >
                                        <i class="fa fa-bars fa-rotate-90"></i>
                                        Edit phases
                                    </a>
                                </li>
                                <!-- /ko -->

                                <li>
                                    <a href="javascript: void(0);"
                                        data-bind="click: $root.actionProjectUsers"
                                    >
                                        <i class="fa fa-user"></i>
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionProjectPlanning"
                                    >
                                        <i class="fa fa-cogs"></i>
                                        Planning view
                                    </a>
                                </li>
                                <!-- ko if: $root.role() < -1 -->
                                <li class="divider"></li>
                                <li class="nav-header text-info">Danger zone</li>
                                <li>
                                    <a href="javascript: void(0);" class="text-danger"
                                       data-bind="click: $root.actionProjectDelete"
                                    >
                                        <i class="fa fa-trash-o"></i>
                                        Delete project
                                    </a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </span>
                </div>

                <div class="input-group" data-bind="visible: project()">
                    <select id="selectSprint" class="show-tick show-menu-arrow"
                        data-bind="
                            options: sortedSprints,
                            optionsText: 'formattedTitle',
                            optionsValue: 'id',
                            optionsCaption: 'Choose sprint to show',
                            value: selectedSprintId(),
                            changeSprint: 'id'
                        "
                        data-text-choose-sprint="Choose sprint to show"
                        data-text-no-data="No sprint data to show"
                    ></select>
                    <span class="input-group-addon dropdown">
                        <div
                            data-bind="visible: !sprint()"
                        >
                            <a href="javascript: void(0);" class="tooltipTitle" title="Add new sprint"
                                data-placement="bottom"
                                data-bind="
                                    click: $root.actionSprintAdd,
                                    visible: $root.role() < 0
                                "
                            >
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div data-bind="visible: sprint()">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"
                               data-hover="dropdown"
                               data-delay="100"
                            >
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-header text-info">Basic functions</li>
                                <!-- ko if: $root.role() < 0 -->
                                <li>
                                    <a href="javascript: void(0);"
                                       data-placement="bottom"
                                       data-bind="click: $root.actionSprintAdd"
                                    >
                                        <i class="fa fa-plus"></i>
                                        Add new sprint
                                    </a>
                                </li>
                                <!-- /ko -->
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionSprintEdit"
                                    >
                                        <i class="fa fa-wrench"></i>
                                        Edit sprint
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.actionSprintBacklog"
                                    >
                                        <i class="fa fa-list-ol"></i>
                                        Sprint backlog
                                    </a>
                                </li>
                                <!-- ko if: $root.role() < 0 -->
                                <li class="divider"></li>
                                <li class="nav-header text-info">Danger zone</li>
                                <li>
                                    <a href="javascript: void(0);" class="text-danger"
                                       data-bind="click: $root.actionSprintDelete"
                                    >
                                        <i class="fa fa-trash-o"></i>
                                        Delete sprint
                                    </a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </span>
                </div>
            </li>
        </ul>

        <ul id="navigation-static" class="nav navbar-nav pull-right">

            <li class="dropdown" style="display: none;"
                data-bind="visible: <% if (user.admin) { %>1<% } else { %>0<% } %>"
            >
                <a href="javascript: void(0);" class="dropdown-toggle"
                    data-toggle="dropdown"
                    data-hover="dropdown"
                    data-delay="50"
                >
                    Settings
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript: void(0);"
                            data-bind="click: $root.usersOpen"
                        >
                            <i class="fa fa-user"></i>
                            Users
                        </a>
                    </li>
                </ul>
            </li>

            <li id="functionHelp" class="navbar-icon tooltipTitle" title="Show help"
                data-qtip-options='{ "position": { "at": "bottom center", "my": "top right" } }'
            >
                <a href="javascript: void(0);">
                    <i class="fa fa-question-sign"></i>
                </a>
            </li>
            <li class="navbar-icon navbar-user tooltipTitle" title="<%= user.fullName() %>"
                data-qtip-options='{ "position": { "at": "bottom center", "my": "top right" } }'
            >
                <a href="javascript: void(0);" data-user-id="<%= user.id %>">
                    <i id="user-icon" class="fa fa-user" style="display: none;"></i>
                    <img src="<%= user.gravatarImage() %>" onerror="this.style.display = 'none'; document.getElementById('user-icon').style.display = '';" />

                    <span><%= user.username %></span>
                </a>
            </li>
            <li class="navbar-icon tooltipTitle" title="Sign out"
                data-qtip-options='{ "position": { "at": "bottom center", "my": "top right" } }'
            >
                <a href="/logout">
                    <i class="fa fa-sign-out text-danger"></i>
                </a>
            </li>

        </ul>
    </div>
</div>

<div id="container">
    <div class="container">
        <%- body %>
    </div>
</div>

<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <span class="pull-right text-medium">
                    version <%= packageJson.version %>
                </span>
                <ul>
                    <li>
                        <a href="<%= packageJson.homepage %>" target="_blank">
                            <i class="fa fa-github"></i>GitHub
                        </a>
                    </li>
                    <li>
                        <a href="<%= packageJson.bugs.url %>" target="_blank">
                            <i class="fa fa-bug"></i>Issues
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/tarlepp/" target="_blank">
                            <i class="fa fa-user"></i><%= packageJson.author %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="placeholderLoading" class="hidden">
    <div class="text-center">
        <i class="fa fa-spinner fa-spin fa-large"></i>&nbsp;&nbsp;&nbsp;<span class="text-muted">Loading data...</span>
    </div>
</div>

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/bower_components/jquery/jquery.min.js"></script>
<script src="/linker/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/linker/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/linker/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/linker/bower_components/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/linker/vendor/json5.js"></script>
<script src="/linker/vendor/underscore.js"></script>
<script src="/linker/vendor/jquery.hotkeys.js"></script>
<script src="/linker/vendor/trunk8.js"></script>
<script src="/linker/vendor/selectorator.js"></script>
<script src="/linker/vendor/moment.js"></script>
<script src="/linker/vendor/moment-timezone.js"></script>
<script src="/linker/vendor/moment-timezone-data.js"></script>
<script src="/linker/vendor/async.js"></script>
<script src="/linker/vendor/cookie.js/cookie.js"></script>
<script src="/linker/vendor/jQuery-noty/jquery.noty.js"></script>
<script src="/linker/vendor/jQuery-noty/jquery.noty-default.js"></script>
<script src="/linker/vendor/jQuery-noty/jquery.noty-top.js"></script>
<script src="/linker/vendor/qTip/jquery.qtip.js"></script>
<script src="/linker/vendor/bootstrap-popover-extra-placements/popover-extra-placements.js"></script>
<script src="/linker/vendor/twitter-bootstrap-hover-dropdown.js"></script>
<script src="/linker/vendor/bootstrap-wysiwyg.js"></script>
<script src="/linker/vendor/bootbox.js"></script>
<script src="/linker/vendor/Knockout/knockout-2.2.1.js"></script>
<script src="/linker/vendor/knockout-bootstrap.js"></script>
<script src="/linker/vendor/knockout-sortable.js"></script>
<script src="/linker/vendor/knockout-deferred-updates.js"></script>
<script src="/linker/js/board.js"></script>
<script src="/linker/js/common.js"></script>
<script src="/linker/js/errors.js"></script>
<script src="/linker/js/events.js"></script>
<script src="/linker/js/helpers.js"></script>
<script src="/linker/js/inits.js"></script>
<script src="/linker/js/knockout.js"></script>
<script src="/linker/js/milestone.js"></script>
<script src="/linker/js/models.js"></script>
<script src="/linker/js/phase.js"></script>
<script src="/linker/js/project.js"></script>
<script src="/linker/js/prototype.js"></script>
<script src="/linker/js/sprint.js"></script>
<script src="/linker/js/story.js"></script>
<script src="/linker/js/task.js"></script>
<script src="/linker/js/user.js"></script>
<script src="/linker/js/validation.js"></script>
<script src="/linker/js/viewmodel.js"></script>
<!--SCRIPTS END-->

</body>
</html>