<ul class="nav nav-tabs">
    <li class="active">
        <a id="basicTab" href="#basic" data-toggle="tab">Basic</a>
    </li>
    <li>
        <a id="backlogTab" href="#backlog" data-toggle="tab" data-callback="initSprintTabBacklog" data-href="/Sprint/Backlog?id=<%= sprint.id %>">Backlog</a>
    </li>
    <li>
        <a id="chartsTab" href="#charts" data-toggle="tab" data-callback="initSprintTabChart" data-href="/Sprint/Charts?id=<%= sprint.id %>">Charts</a>
    </li>
    <li>
        <a id="historyTab" href="#history" data-toggle="tab" data-href="/History?objectName=Sprint&objectId=<%= sprint.id %>">History</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <form id="formSprintEdit" class="form-horizontal">
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formSprintEditTitle">Title</label>
                <div class="col-lg-9">
                    <input id="formSprintEditTitle" name="title" type="text" value="<%= sprint.title %>" placeholder="enter sprint name" class="form-control" required="required" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formSprintEditDateStart">Duration</label>
                <label class="col-lg-3 control-label" for="formSprintEditDateEnd" style="display: none;"></label>
                <div class="col-lg-9">
                    <div class="input-group date dateStart">
                        <input id="formSprintEditDateStart" name="dateStart" type="text" value="<%= sprint.dateStartObject().format('YYYY-MM-DD') %>" class="dateInput form-control" size="16" required="required"
                            data-validate-type="daterange"
                            data-role="start"
                            data-pair="formSprintEditDateEnd"
                            data-focus="false"
                            data-type="sprint"
                            data-edit="true"
                        />
                        <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                    </div>
                    <span class="separator">&mdash;</span>
                    <div class="input-group date dateEnd">
                        <input id="formSprintEditDateEnd" name="dateEnd" type="text" value="<%= sprint.dateEndObject().format('YYYY-MM-DD') %>" class="dateInput form-control" size="16" required="required"
                            data-validate-type="daterange"
                            data-role="end"
                            data-pair="formSprintEditDateStart"
                            data-focus="false"
                            data-type="sprint"
                            data-edit="true"
                        />
                        <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="formSprintEditDescription">Description</label>
                <div class="col-lg-9">
                    <textarea id="formSprintEditDescription" name="description" class="form-control" data-wysiwyg="true" placeholder="enter sprint description"><%= sprint.description %></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="backlog"></div>

    <div class="tab-pane" id="charts"
        data-sprint-id="<%= sprint.id %>"
    ></div>

    <div class="tab-pane" id="history"></div>
</div>