<ul class="nav nav-tabs">
    <li class="active">
        <a id="basicTab" href="#basic"
            data-toggle="tab"
        >Basic</a>
    </li>
    <li>
        <a id="languageAndRegionTab" href="#languageAndRegion"
            data-toggle="tab"
        >Language and region</a>
    </li>
    <li>
        <a id="boardSettingsTab" href="#boardSettings"
            data-toggle="tab"
        >Board settings</a>
    </li>
    <li>
        <a id="passwordChangeTab" href="#passwordChange"
            data-toggle="tab"
            data-disable-buttons="true"
        >Change password</a>
    </li>
    <li>
        <a id="projectsTab" href="#projects"
            data-toggle="tab"
            data-href="/User/projects?id=<%= user.id %>"
            data-callback="initUserTabProjects"
        >Projects</a>
    </li>
    <li>
        <a id="signInHistoryTab" href="#signInHistory"
            data-toggle="tab"
            data-href="/User/history?id=<%= user.id %>"
            data-callback="initUserTabSignInHistory"
        >Sign in history</a>
    </li>
    <li>
        <a id="historyTab" href="#history"
            data-toggle="tab"
            data-href="/History?objectName=User&objectId=<%= user.id %>"
        >History</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <form id="formUserEdit_1" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <input type="hidden" name="admin" value="0" />

            <div class="form-group">
                <label class="col-lg-3 control-label">Username</label>
                <div class="col-lg-3">
                    <p class="form-control-static"><%= user.username %></p>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditFirstName">First name</label>
                <div class="col-lg-9">
                    <input id="formUserEditFirstName" name="firstName" type="text" class="form-control" placeholder="enter first name" required="required" value="<%= user.firstName %>" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditLastName">Last name</label>
                <div class="col-lg-9">
                    <input id="formUserEditLastName" name="lastName" type="text" class="form-control" placeholder="enter last name" required="required" value="<%= user.lastName %>" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditEmail">Email address</label>
                <div class="col-lg-9">
                    <input id="formUserEditEmail" name="email" type="email" class="form-control" placeholder="enter email" required="required" value="<%= user.email %>"
                        data-validate-type="email,unique"
                        data-model="User"
                        data-id="<%= user.id %>"
                    />
                    <span class="help-block">Email address will be used to fetch <a href="http://gravatar.com">Gravatar</a> image.</span>
                </div>
            </div>

            <% if (currentUser.admin) { %>

            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <div class="checkbox">
                        <label>
                            <input id="formUserNewAdministrator" name="admin" type="checkbox" value="1" <% if (user.admin) { %>checked="checked"<% } %> /> Administrator user
                        </label>
                    </div>

                    <span class="help-block text-nowrap">Administrator users have access to all projects in Taskboard.</span>
                </div>
            </div>

            <% } %>
        </form>
    </div>

    <div class="tab-pane" id="languageAndRegion">
        <form id="formUserEdit_2" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />

            <h4 class="col-lg-offset-3">General settings</h4>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserNewLanguage">Language</label>
                <div class="col-lg-9">
                    <select id="formUserNewLanguage" name="language" class="form-control in-modal show-tick show-menu-arrow"
                        data-select="true"
                        data-container="body"
                        data-change-dates="true"
                    >
                        <% _.each(languages, function(language) { %>
                        <option value="<%= language %>" <% if (user.language === language) { %>selected="selected"<% } %>><%= language %></option>
                        <% }) %>
                    </select>

                    <span class="help-block">This will affect to text localizations.</span>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserNewTimezone">Timezone</label>
                <div class="col-lg-9">
                    <select id="formUserNewTimezone" name="momentTimezone" class="form-control in-modal show-tick show-menu-arrow"
                        data-select="true"
                        data-container="body"
                        data-live-search="true"
                        data-change-dates="true"
                    >
                        <% _.each(timezones, function(timezone) { %>
                        <option value="<%= timezone.key %>" <% if (user.momentTimezone === timezone.key) { %>selected="selected"<% } %>><%= timezone.name %></option>
                        <% }) %>
                    </select>

                    <span class="help-block">This will affect to datetime strings.</span>
                </div>
            </div>

            <hr/>
            <h4 class="col-lg-offset-3">Date and time formats</h4>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditMomentFormatDate">Date format</label>
                <div class="col-lg-9 input-group">
                    <input id="formUserEditMomentFormatDate" name="momentFormatDate" type="text" class="form-control" placeholder="enter date format" required="required" data-change-dates="true" value="<%= user.momentFormatDate %>" />

                    <span id="momentFormatDateShow" class="input-group-addon"></span>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditMomentFormatTime">Time format</label>
                <div class="col-lg-9 input-group">
                    <input id="formUserEditMomentFormatTime" name="momentFormatTime" type="text" class="form-control" placeholder="enter time format" required="required" data-change-dates="true" value="<%= user.momentFormatTime %>" />

                    <span id="momentFormatTimeShow" class="input-group-addon"></span>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditMomentFormatDateTime">Datetime format</label>
                <div class="col-lg-9 input-group">
                    <input id="formUserEditMomentFormatDateTime" name="momentFormatDateTime" type="text" class="form-control" placeholder="enter datetime format" required="required" data-change-dates="true" value="<%= user.momentFormatDateTime %>" />

                    <span id="momentFormatDateTimeShow" class="input-group-addon"></span>
                </div>

                <div class="col-lg-offset-3 col-lg-9">
                    <span class=" help-block">All date formatting is done with <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank">moment.js</a> library so use it format options with above settings.</span>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="boardSettings">
        <form id="formUserEdit_3" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />

            <h4 class="col-lg-offset-3">GUI settings</h4>

            <div class="form-group">
                <label class="col-lg-3 control-label" for="taskTemplateChangeLimit">Task count</label>

                <%
                taskTemplateChangeLimit = parseInt(user.taskTemplateChangeLimit)

                if (isNaN(taskTemplateChangeLimit)) {
                    taskTemplateChangeLimit = 6;
                }
                %>

                <div class="col-lg-9">
                    <input id="taskTemplateChangeLimit" name="taskTemplateChangeLimit" type="text" class="form-control form-slider" required="required" value="<%= taskTemplateChangeLimit %>"
                        data-slider-min="2"
                        data-slider-max="15"
                        data-slider-step="1"
                        data-slider-value="<%= taskTemplateChangeLimit %>"
                    />
                    <span id="taskTemplateChangeLimitValue" class="badge badge-slider"><%= taskTemplateChangeLimit %></span>
                </div>

                <div class="col-lg-offset-3 col-lg-9">
                    <span class=" help-block">
                        Limit count when tasks are drawn into smaller sticky notes on board.
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="boardSettingHideDoneStories" name="boardSettingHideDoneStories" value="1" <% if (user.boardSettingHideDoneStories) { %>checked="checked"<% } %>> Hide done stories?
                        </label>
                    </div>
                </div>

                <div class="col-lg-offset-3 col-lg-9">
                    <span class=" help-block">
                        Hide all done stories on board, note that you can change this setting in board.<br />
                        This is just default behavior on the board, you can toggle this within board.
                    </span>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="passwordChange">
        <form id="formUserEditPasswordChange" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <input type="hidden" name="userId" value="<%= user.id %>" />

            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditPasswordCurrent">Current password</label>
                <div class="col-lg-5">
                    <input id="formUserEditPasswordCurrent" name="passwordCurrent" type="password" class="form-control" placeholder="enter current password" required="required" autocomplete="off"
                           data-validate-type="passwordCurrent"
                        data-user-id="<%= user.id %>"
                    />

                    <span class="help-block text-nowrap">To change password you must provide current password</span>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-lg-3 control-label" for="formUserEditPassword">New password</label>
                <div class="col-lg-5">
                    <input id="formUserEditPassword" name="password" type="password" class="form-control" placeholder="enter new password" required="required" autocomplete="off"
                        data-password="true"
                        data-pair="formUserEditPasswordRetype"
                        data-validate-type="password,length"
                        data-length-min="10"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="formUserEditPasswordRetype"></label>
                <div class="col-lg-5">
                    <input id="formUserEditPasswordRetype" name="passwordReType" type="password" class="form-control" placeholder="re-type new password" autocomplete="off"
                        data-password="true"
                        data-pair="formUserEditPassword"
                        data-validate-type="password,length"
                        data-length-min="10"
                    />
                </div>
            </div>
            <div class="form-group password-strength">
                <label class="col-lg-3 control-label">Password strength</label>
                <div class="col-lg-5">
                    <div class="progress">
                        <div id="passwordStrength" class="progress-bar progress-bar-invalid" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span>0%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-5 col-lg-offset-3">
                    <button id="passwordChangeButton" type="button" class="btn btn-default btn-primary">Change password</button>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane" id="projects"></div>

    <div class="tab-pane" id="signInHistory"></div>

    <div class="tab-pane" id="history"></div>
</div>