<table id="userSignIns" class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th class="col-md-1 text-nowrap">Sign in time</th>
            <th class="col-md-1 text-nowrap">IP-Address</th>
            <th class="col-md-10">User-agent</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(history, function(row) { %>
        <tr>
            <td class="text-nowrap">
                <small class="tooltipDiv">
                    <%= row.stamp.format("L LT") %>

                    <div class="tooltipDivContainer">
                        <div>
                            <table class="dateTimeTooltip">
                                <tr>
                                    <th>Local time</th>
                                    <td><%= row.stamp.format("L LT") %></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><%= row.stamp.format("ZZ") %></td>
                                </tr>
                                <tr>
                                    <th>UTC time</th>
                                    <td><%= row.stamp.utc().format("L LT") %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </small>
            </td>
            <td class="text-nowrap">
                <small><%= row.ip %></small>
            </td>
            <td>
                <small><%= row.agent %></small>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>