<table id="userSignIns" class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>
            <a href="javascript: void(0);" class="btn btn-default btn-icon tooltipTitle <% if (currentUser.admin !== true) { %> disabled <% } %>" title="Attach user to new project"
                data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
                data-attach-user="true"
                data-user-id="<%= user.id %>"
            >
                <i class="icon icon-plus"></i>
            </a>
        </th>
        <th class="col-md-9">Project</th>
        <th class="col-md-1 text-nowrap">Role</th>
        <th class="col-md-1 text-nowrap">Start</th>
        <th class="col-md-1 text-nowrap">End</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(projects, function(project) { %>
    <tr>
        <td>
            <a class="actionMenu-toggle btn btn-icon btn-default" href="javascript: void(0);" data-popover="true">
                <i class="icon icon-chevron-down"></i>
            </a>
            <div class="hidden">
                <div class="actionMenu">
                    <ul class="actionMenu-actions">
                        <li>
                            <a href="javascript: void(0);"
                                data-project-id="<%= project.id %>"
                                data-user-id="<%= user.id %>"
                                data-action="projectEdit"
                            >
                                <i class="icon icon-wrench"></i> Edit project
                            </a>
                        </li>
                        <% if (project.role < -1 || currentUser.admin === true) { %>
                        <li class="divider"></li>

                        <% if (project.role > -2 && currentUser.admin === true) { %>
                        <li>
                            <a href="javascript: void(0);" class="text-danger"
                                data-project-id="<%= project.id %>"
                                data-user-id="<%= user.id %>"
                                data-action="deattachUser"
                            >
                                <i class="icon icon-remove"></i> Remove user
                            </a>
                        </li>
                        <% } %>

                        <li>
                            <a href="javascript: void(0);" class="text-danger"
                                data-project-id="<%= project.id %>"
                                data-user-id="<%= user.id %>"
                                data-action="projectDelete"
                            >
                                <i class="icon icon-remove"></i> Delete project
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </td>
        <td>
            <%= project.title %>
        </td>
        <td class="text-nowrap">
            <%= project.roleText %>
        </td>
        <td class="text-nowrap">
            <%= moment(project.dateStart).format("YYYY-MM-DD") %>
        </td>
        <td class="text-nowrap">
            <%= moment(project.dateEnd).format("YYYY-MM-DD") %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>