<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
        Below you can see all users who are <strong>attached to this project</strong>. Taskboard uses following user
        roles in projects:
        <ul>
            <li><strong>Manager</strong> has full access to all project data</li>
            <li><strong>User</strong> has full access only to project stories and tasks</li>
            <li><strong>Viewer</strong> can only view project data <em>(no modification rights)</em></li>
        </ul>
    </p>
</div>

<table id="projectBacklog" class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <% if (role < 0) { %>
            <th>
                <a href="javascript: void(0);" class="btn btn-default btn-icon tooltipTitle" title="Add new user to this project"
                   data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
                   data-add-new-user="true"
                   data-project-id="<%= project.id %>"
                >
                    <i class="icon icon-plus"></i>
                </a>
            </th>
            <% } %>
            <th class="col-md-9">Full name</th>
            <th class="col-md-2">Username</th>
            <th class="col-md-1">Email</th>
            <th class="col-md-1">Role</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(users, function(user) { %>
        <tr>
            <% if (role < 0) { %>
            <td>
                <% if (user.main) { %>
                <div class="tooltipTitle" title="You cannot remove primary project manager"
                    data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
                >
                    <span class="btn btn-default btn-danger btn-icon  disabled">
                    <i class="icon icon-remove"></i>
                </span>

                </div>
                <% } else { %>
                <a href="javascript: void(0);" class="btn btn-default btn-danger btn-icon tooltipTitle" title="Remove this user from project"
                    data-qtip-options='{ "position": {"my": "center right", "at": "center left"} }'
                    data-remove-user="true"
                    data-project-id="<%= project.id %>"
                    data-user-id="<%= user.id %>"
                >
                    <i class="icon icon-remove"></i>
                </a>
                <% } %>
            </td>
            <% } %>
            <td>
                <%= user.fullName() %>
            </td>
            <td class="text-nowrap">
                <% if (signedIn.admin) { %>
                    <a href="javascript: void(0);"> <%= user.username %></a>
                <% } else { %>
                    <%= user.username %>
                <% } %>
            </td>
            <td class="text-nowrap">
                <a href="mailto: <%= user.email %>"><%= user.email %></a>
            </td>
            <td class="text-nowrap">
                <% if (user.main) { %>
                    <%= user.roleText %> <span class="text-medium text-muted">(primary)</span>
                <% } else if (role < 0) { %>
                    <a href="javascript: void(0)" class="change-role tooltipTitle" title="Change user role"
                        data-qtip-options='{ "position": {"my": "center left", "at": "center right"} }'
                        data-project-id="<%= project.id %>"
                        data-user-id="<%= user.id %>"
                        data-role-id="<%= user.role %>"
                    >
                        <%= user.roleText %>
                    </a>
                <% } else { %>
                    <%= user.roleText %>
                <% } %>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>